black==24.4.2
flake8==7.0.0
mypy==1.10.0
isort==5.13.2
moto[all]==5.0.9
pytest==8.2.2
pytest-mock==3.14.0
apache-airflow-client
yoyo-migrations==8.2.0
plotly==5.22.0
jupyter==1.0.0
types-requests==2.32.0.20240602
cuallee==0.10.3
polars==0.20.31
apache-airflow-providers-slack
apache-airflow-providers-databricks
apache-airflow-providers-dbt-cloud==4.7.0
airflow-provider-mlflow==1.1.0
airflow-provider-hightouch==4.0.0
airflow-provider-fivetran-async==2.2.0
rudderstack-airflow-provider
